<% provide :title, "Lv.3 - 撞牆不息的訂閱電子報" %>

<h1>訂閱電子報</h1>

<%= form_for @subscribes, url: {action: "create"} do |f| %>

  <%= f.label :name, "姓名/暱稱" %>
  <%= f.text_field :name %>

  <%= f.label :email, "Email信箱" %>
  <%= f.text_field :email %>

  <%= f.submit "確定訂閱" %>
  <br />
  <%= notice %>
<% end %>
