<% provide :title, "Lv.4 - 訂閱電子報(MySQL)" %>

<h1>訂閱電子報</h1>
<br />
<%= form_for @sql do |f| %>
  <%= f.label :email, "Email信箱" %>
  <%= f.text_field :email %>
  <%= f.hidden_field :timestamps, value: Time.now %>
  <%= f.hidden_field :ip_address, value: request.remote_ip %>
  <%= f.submit "確定訂閱" %>
  <br />
  <%= notice %>
<% end %>
