<% provide :title, "Email清單(TXT)" %>

<h1>Email清單</h1>

<div class="col-sm-12" style="padding: 0 10px;">
	<%= form_tag '/txt/delete' do %>
		<%= notice %>
	<table class="table" data-toggle="table">
		<thead>
			<tr>
				<th><%= submit_tag("刪除", data: {confirm: "是否確認刪除？"}) %></th>
				<th data-sortable="true" data-field="email">Email</th>
			</tr>
		</thead>
		<tbody>
			<% File.open("tmp/emaildump.txt").each do |email| %>
				<% line = Digest::MD5.hexdigest(email) %>
				<tr>
					<td><%= check_box_tag 'delete[]', "#{line}" %></td>
					<td><%= email.gsub(/; /, "") %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
</div>
