<% provide :title, "RoR 新手村" %>

<center>
  <font size="+2">
    <p>Hola! 現在時間是 <%= Time.now %></p>
    <p>Lv.2 <%= link_to "和世界問好", say_path %></p>
    <p>Lv.2.5.5 <%= link_to "塗鴉牆", posts_path %></p>
    <p>Lv.3 <%= link_to "電子報訂閱(txt)", txt_path %>
<!--    <p>Lv.4 <%= link_to "招呼回頭客(session)", bkto_path %></p>-->
	<!--<p>Lv.4 <%= link_to "電子報訂閱(MySQL)", "/sqls/new/" %></p>-->

  </font>
</center>
