<% provide :title, "Lv. 2.5.5 - 塗鴉牆" %>

<h1>塗鴉牆</h1>

<%= form_tag '/posts' do %>
	<br />
	<%= label_tag (:message), "將你現在的思緒濃縮成10個字，那會是：" %>
	<br />
	<%= text_field_tag (:message), "(￣︶￣)?", maxlength: 10, size: 30 %>
	<%= submit_tag ("確定送出") %>
<% end %>

<br />
<%= form_tag '/posts/del' do %>
<div class="col-sm-12" style="padding: 0 10px;">
	<table class="table" data-toggle="table">
		<thead>
			<tr>
				<th>勾選</th>
                                <th data-sortable="true" data-field="message">歷史訊息</th>
                        </tr>
                </thead>
		<tbody>
			<%- @posts.each do |post| -%>
                                <tr>
                                        <td><%= check_box_tag (del[], post(:message), false) %></td>
                                        <td><%= post[:message] %></td>
                                </tr>
		</tbody>
	<% end %><%- end -%>
        </table>
</div>
